option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 5000
    JVM_ARGS: Xmx512m
  aws:elb:loadbalancer:
    CrossZone: true
    ConnectionDrainingEnable: true
    ConnectionDrainingTimeout: 20
  aws:elb:healthcheck:
      HealthyThreshold: 2
      Interval: 10
      Timeout: 5
      UnhealthyThreshold: 10